# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/
env/

# Environment & secrets
.env
.env.*
*.env

# Alembic
alembic/versions/__pycache__/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/
.coverage
htmlcov/

#ai
/shared/shared.egg-info/
